In [96]:
import pandas as pd 

df = pd.read_html("https://www.infomoney.com.br/cotacoes/empresas-b3/")

In [107]:
frames = [
df[10].assign(setor="Utilidade Pública"),
df[9].assign(setor="Telecomunicações"),
df[8].assign(setor="Tecnologia da Informação"),
df[7].assign(setor="Saúde"),
df[6].assign(setor="Petróleo, Gás e Biocombustíveis"),
df[4].assign(setor="Materiais Básicos"),
df[5].assign(setor="Outros"),
df[3].assign(setor="Financeiro"),
df[2].assign(setor="Consumo não Cíclico"),
df[1].assign(setor="Consumo Cíclico"),
df[0].assign(setor="Bens Industriais"),
]
result = pd.concat(frames)

In [130]:
result['Empresas'] = result['Empresas'].str.upper()
result

,Empresas,Ativos,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,setor
0,CELPE,CEPE6F,CEPE5F,CEPE3F,CEPE6,CEPE5,CEPE3,Utilidade Pública
1,CEEE-D,CEED3F,CEED4F,CEED4,CEED3,NaN,NaN,Utilidade Pública
2,CEEE-GT,EEEL4F,EEEL3F,EEEL4,EEEL3,NaN,NaN,Utilidade Pública
3,CASAN,CASN4F,CASN3F,CASN4,CASN3,NaN,NaN,Utilidade Pública
4,CEG,CEGR3F,CEGR3,NaN,NaN,NaN,NaN,Utilidade Pública
...,...,...,...,...,...,...,...,...
1,OI,OIBR4F,OIBR4,OIBR,NaN,NaN,NaN,Telecomunicações
2,TIM PARTICIPAÇÕES,TIMS3F,TIMS3,NaN,NaN,NaN,NaN,Telecomunicações
3,TELEFÔNICA BRASIL S.A,VIVT4F,VIVT4,VIVT3F,VIVT3,NaN,NaN,Telecomunicações
4,TELEBRAS,TELB4F,TELB4,TELB3F,TELB3,NaN,NaN,Telecomunicações
5,ATT INC,ATTB34,NaN,NaN,NaN,NaN,NaN,Telecomunicações