In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time


URL = "https://sistemaswebb3-listados.b3.com.br/indexPage/day/IBOV?language=pt-br"

firefox = webdriver.Firefox()
firefox.get(URL)


def wait_while_Finding(seletor, name):
    return WebDriverWait(firefox, 10).until(
        EC.presence_of_element_located((seletor, name))
    )


wait_while_Finding(By.ID, "segment").send_keys("Setor de Atuação")
wait_while_Finding(By.ID, "selectPage").send_keys(Keys.ARROW_DOWN)
wait_while_Finding(By.ID, "selectPage").send_keys(Keys.ARROW_DOWN)
wait_while_Finding(By.ID, "selectPage").send_keys(Keys.ARROW_DOWN)
time.sleep(8)
table = wait_while_Finding(By.CLASS_NAME, "table").get_attribute('outerHTML')

In [8]:
df = pd.read_html(table)[0]

In [9]:
df.drop(df.tail(2).index,inplace=True)
df.columns = ['Setor', 'Código', 'Ação', 'Tipo', 'Qtde. Teórica', 'Part. (%)', 'Part. (%)Acum']

In [10]:
df

,Setor,Código,Ação,Tipo,Qtde. Teórica,Part. (%),Part. (%)Acum
0,Bens Indls / Máqs e Equips,WEGE3,WEG,ON NM,1.482.296.002,2154.0,2154.0
1,Bens Indls / Mat Transporte,EMBR3,EMBRAER,ON NM,736.143.105,533.0,533.0
2,Bens Indls/Transporte,AZUL4,AZUL,PN N2,327.262.616,588.0,2673.0
3,Bens Indls/Transporte,CCRO3,CCR SA,ON NM,1.115.693.556,676.0,2673.0
4,Bens Indls/Transporte,ECOR3,ECORODOVIAS,ON NM,172.602.770,94.0,2673.0
...,...,...,...,...,...,...,...
79,Utilidade Públ / Energ Elétrica,ENGI11,ENERGISA,UNT N2,250.679.709,514.0,5730.0
80,Utilidade Públ / Energ Elétrica,ENEV3,ENEVA,ON NM,1.248.545.726,935.0,5730.0
81,Utilidade Públ / Energ Elétrica,EGIE3,ENGIE BRASIL,ON ED NM,254.792.279,462.0,5730.0
82,Utilidade Públ / Energ Elétrica,EQTL3,EQUATORIAL,ON NM,1.010.286.085,1157.0,5730.0
83,Utilidade Públ / Energ Elétrica,TAEE11,TAESA,UNT N2,218.568.274,397.0,5730.0